<header class="header">
  <div class="g-row">
    <div class="g-col">
      <h1 class="header__title"><a class="header__title__link" (click)="home()" href="javascript:">Okay You're Right</a></h1>

      <ul class="header__links">
        <li *ngIf="authenticated && user"><a class="header__link" href="javascript:">{{user.name}}</a></li>
        <!--<li *ngIf="authenticated"><a class="header__link" (click)="signOut()" href="javascript:">Sign out</a></li>
        <li *ngIf="!authenticated"><a class="header__link" (click)="signIn()" href="javascript:">Sign in</a></li>-->
      </ul>
    </div>
  </div>
</header>


<main class="main">
  <router-outlet></router-outlet>
</main>
